.icons {
    display: flex;
    justify-content: start;
}

.icon {
    margin-right: 1em;
}

.title-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}

.description-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
    flex-direction: column;
}

.button-container {
    margin-top: 3em;
}

.events-container h4 {
    margin-top: 2em;
}

.events-container {
    margin-bottom: 2em;
}

.event-page-container {
    background-image: url("./content/images/pattern.png");
    background-size: cover;
    height: 40vh;
}

.link {
    color: inherit;
    text-decoration: none;
}

.link:hover {
    color: inherit;
    text-decoration: none;
}
