.icons {
    display: flex;
    justify-content: start;
}

.icon {
    margin-right: 1em;
}

.events-container h4 {
    margin-top: 2em;
}

.events-container h4 {
    margin-bottom: 1em;
}

.event-page-container {
    background-image: url("./content/images/pattern.png");
}
